h2{
	background-color: #d3d3d3
}
body {
    background-image:    url(armWrestle.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    margin-top: 500px;
}